<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CLIENT_ID</key>
    <string>51749255485-uvsjehff6k7e46l3vejknn9bkftt2b68.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.51749255485-uvsjehff6k7e46l3vejknn9bkftt2b68</string>
    <key>API_KEY</key>
    <string>AIzaSyCo4OJLX_MYHmhBYo10AW3OyuIfHWmeRlw</string>
    <key>GCM_SENDER_ID</key>
    <string>51749255485</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.billogstudio.immowert4you</string>
    <key>PROJECT_ID</key>
    <string>immowert4you-b04be</string>
    <key>STORAGE_BUCKET</key>
    <string>immowert4you-b04be.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:51749255485:ios:0dd264f135ef34318a6d54</string>
  </dict>
</plist>